body {
	color: white;
	text-align: center;
}

 .text{
  	font-size: 25px;
  	padding-left: 5em;
  	padding-right: 5em;
  	font-family: 'Oswald', sans-serif;
}

#descmobile {display: none;}

img {
	
	padding-top: 1em;
	padding-bottom: 1em;
	width:250px; /* you can use % */
	height: auto;
	border-radius: 50%;
}

 @media screen and (max-width: 900px) {
 	.text{

 		font-size: 22px;
 		padding-left: 1em;
  		padding-right: 1em;
 	}

 	 #spacer{padding: 3em;}

 	img {width: 250px;}
 	
 }
