body {
	color: white;
	text-align: center;
}

 .text{
  	font-size: 1.8em;
  	padding-left: 22em;
  	padding-right: 22em;
  	font-family: 'Oswald', sans-serif;
}

img {
	
	padding-top: 1em;
	padding-bottom: 1em;
	width:250px; /* you can use % */
	height: auto;
	border-radius: 50%;
}

 @media screen and (orientation: portrait) {
 	.text{

 		font-size: 35px;
 		padding-left: 3em;
  		padding-right: 3em;
 	}

 	img {width:400px;}
