.content{
  padding-left: .4em;
  padding-right: .4em;
}

.albumcov img:hover {
  border: 2px solid #29945f;
}

.albumcov img {
	/*padding: 15px;*/
	width: 100%;
	height: auto;
}

.desc {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 1.2em;
	padding: 7px;
	text-align: center;
}

* {
  box-sizing: border-box;
}

#descmobile {display: none;}

.responsive {
  padding: 0 6px;
  float: right;
  width: 33%;
}

@media screen and (max-width: 900px) {

  .desc {
    font-size: 1em;
  }
  .responsive {
    width: 50%;
    margin: 6px 0;
  }

  #spacer{
    padding: 3em;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}