.content {
	padding: 1em;
}

.albumcov {

}

.albumcov img:hover {
  border: 2px solid #29945f;
}

.albumcov img {
	/*padding: 15px;*/
	width: 100%;
	height: auto;
}

.desc {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 1.2em;
	padding: 10px;
	text-align: center;
}

* {
  box-sizing: border-box;
}

#descmobile {display: none;}

.responsive {
  padding: 0 10px;
  float: left;
  width: 24.99999%;
}

@media screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  #spacer{
    padding: 3em;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}