/*GALLERY*/

  img {
    max-width: 100%;
    display: block;
  }

  * { box-sizing: border-box;}

  .gallery {
    width: 95%;
    margin: 0 auto;
    column-count: 4;
    column-gap: .5em;
    padding-bottom: 3em;
  }

  #spacer { padding: 1em; }

  .gallery_item img:hover {border: 2px solid #29945f;}

  .gallery_item {
    margin: 0;
    width: 100%;
  }

  .gallery_item img {margin: 0 0 .3em 0;}

  @media screen and (max-width: 900px) {

    .gallery {
      column-count: 2;
      width: 95%;
      padding-bottom: 1.5em;
    }

  }