html {
  background-color: black;
  color: white;
}


a:link {

  color: #ffffff;
  text-decoration: none;
}


a:hover, a:active {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

#topbar{
  padding-top: 30px;
  text-align: center;
}

#title{
  color: #ffffff;
  
  text-shadow: -5px 3px #29945f;
  font-size: 5em;
  line-height: 80%;
  font-family: 'Modak', cursive;
}

#sub{
  font-size: 1em;
  font-family: 'Oswald', sans-serif;

}



body {

}

img {

  max-width: 100%;

  display: block;

}

* {

  box-sizing: border-box;

}

.gallery {

  width: 95%;

  margin: 0 auto;

  column-count: 4;

  column-gap: .3em;

}

.gallery_item img:hover {
  border: 2px solid #29945f;
}


/*@media screen and (max-width: 375px) {

  .gallery {

    width: 100%;

  }

}*/

.gallery_item {

  margin: 0;

  width: 100%;

}

.gallery_item img {

  margin: 0 0 .3em 0;

}

@media screen and (orientation: portrait) {

  .gallery {

    column-count: 2;
    width: 95%;

  }


  #title{
  color: #ffffff;
  text-shadow: -7px 5px #29945f;
  font-size: 11em;
  line-height: 80%;
  font-family: 'Modak', cursive;
}

#sub{
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;

}

}

/*@media screen and (max-width: 375px) {

  .gallery {

    column-count: 1;

  }

}

@media screen and (max-width: 320px) {

  .gallery {

    column-count: 1;

  }

}
*/
