/*GENERAL*/

 html {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

/*LINKS*/

  a:link {
    color: #ffffff;
    text-decoration: none;
  }


  a:hover, a:active {color: #ffffff;}

  a:visited {color: #ffffff;}

/*TITLE AND SUBHEADER*/

  #topbar{
    text-align: center;
  }

  #title{
    color: #ffffff;
    text-shadow: -5px 3px #29945f;
    font-size: 5em;
    line-height: 80%;
    padding-top: .25em;
    padding-bottom: .125em;
    font-family: 'Modak', cursive;
  }

  #sub{
    font-size: .8em;
    /*line-height: 80%;*/
    font-family: 'Oswald', sans-serif;

  }

  .titledesc{
    text-align: center;
    font-size: 100px;
    /*line-height: 80%;*/
    font-family: 'Oswald', sans-serif;
   }


 @media screen and (orientation: portrait) {

   .titledesc{
    
    font-size: 65px;
    padding-top: 0px;
    padding-bottom: 15px;
    /*line-height: 80%;*/
    font-family: 'Oswald', sans-serif;
   }

 }

