html {
    background-color: #000000;
    background:url("../images/landing-bg/bg-hor.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

/*#warning-message { display: none; }*/

body {
  font-family: 'Spinnaker', sans-serif;  
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*div {
  height: 80px;
  width: 100%;
  background-color: powderblue;
}*/

#welcome { 
    font-size: 5em;  
    letter-spacing: .5em;
    margin-right: -.5em;
}

#enterlink {
    font-size: 1.5em;
    letter-spacing: .5em;
    margin-right: -.5em;
    margin-left: -.5em;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:active {
  color: #ffffff;
  background-color: #42f58a;
  font-style: italic;
}

a:visited {
  color: #ffffff;
}

/****mobile bg support****/

@media only screen and (orientation: portrait) {
   
  html {
    background:url("../images/landing-bg/bg-hor.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }

  #welcome {  
    font-size: 5em;  
    letter-spacing: .5em;
    margin-right: -.5em;
  }

  #enterlink {
    font-size: 1.5em;
    letter-spacing: .5em;
    margin-right: -.5em;
    margin-left: -.5em;
  }

}
