html {
    background-color: #000000;
    background:url("../images/landing-bg/sfcnight-hor.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

/*#warning-message { display: none; }*/

body {
  font-family: 'Spinnaker', sans-serif;  
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#welcome { 
    font-size: 5em;  
    letter-spacing: .5em;
    margin-right: -.5em;
}

#enterlink {
    font-size: 1.5em;
    letter-spacing: .5em;
    margin-right: -.5em;
    margin-left: -.5em;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:active {
  color: #ffffff;
  background-color: #29945f;
  font-style: italic;
}

a:visited {
  color: #ffffff;
}

/****mobile bg support****/

@media screen and (max-width: 900px) {
   
  html {
    background:url("../images/landing-bg/sfcnight-ver.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 50%;
  }

  #welcome {  
    font-size: 2.7em;  
    letter-spacing: .4em;
    margin-right: -.4em;
    margin-left: -.4em;
  
  }

  #enterlink {
    font-size: 1em;
    letter-spacing: .4em;
    margin-right: -.4em;
    margin-left: -.4em;
  }
}