/*NAV BAR*/
  nav {
    /*position: absolute;*/
    width:100%;
    background: #000000;
    font-size: 2em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
  }


  ul {
    width:80%;
    margin: 0 auto;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: inline-block;
    padding-right: 3em;
    padding-left: 3em;
  }

  ul li:hover {
    background: #29945f;
  }

  ul li a {
    color: #ffffff;
    text-decoration: none;


  }

  .toggle {
    width: 100%;
    /*padding 0px 0px;*/
    color: #29945f;
    text-align: right;
    box-sizing: border-box;
    font-size: 75px;
    display: none;
  }

  @media screen and (orientation: portrait) {

    nav {
    /*position: absolute;*/
    padding-top: 0px;
    padding-bottom: 30px;
  }

    .toggle {
      background: #29945f;
      color: #000000;
      height: 125px;
      display: block;
      padding-top: 40px;
      padding-right: 40px;
    }

    ul {
      width: 100%;
      display: none;
    }

    ul li {
      display: block;
      text-align: center;
      padding: 3em;
    }

    .active {
      display: block;
    }

  }
