/*NAV BAR*/
  nav {
    width:100%;
    background: #000000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
  }


  ul {
    width:100%;
    margin: 0 auto;
    padding: 0;
  }

  ul li {
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding-right: .6em;
    padding-left: .6em;
  }

  ul li:hover {
    background: #29945f;
  }

  ul li a {
    color: #ffffff;
    text-decoration: none;
  }


  #togtitle{display: none;}

  .content {padding-top: 10px;}

  .toggle {display: none;}
