/*MOBILE*/
  @media screen and (orientation: portrait) {

    #topbar{
      display: none;
    }
    nav {
      position: fixed;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .content {
    padding-top: 165px;
    }

    .toggle {
      display: block;
    }

    #navtitle{
      display: block;
    }

    ul {
      padding-top: 130px;
      width: 100%;
      display: none;
    }

    ul li {
      /*text-shadow: -3px 4px 5px #29945f;*/
      font-size: 42px;
      display: block;
      text-align: center;
      padding: .7em;
    }

    ul li:hover {
    background: #29945f;
    }

    ul li a {
    color: #ffffff;
    text-decoration: none;
    }

    .active {
      display: block;
    }

  }
