.content {
  font-size: 100px;
  letter-spacing: .6em;
  text-align: center;
  padding-right: .4em;
}

 .fa-buttons{
  padding-top: 30px;
  width: 50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: -7px 5px /*5px*/ #29945f;
  color: #000000;
}

.fa-buttons:hover {

    font-style: italic;
}

.fa-tumblr {
  background: #000000;
  color: black;
}

.fa-twitter {
  background: #000000;
  color: black;
  padding-right: .4em;
}

.fa-instagram {
  background: #000000;
  color: black;
}

#descmobile {display: none;}

#spacer {padding: 1.3em;}


@media screen and (max-width: 900px) {

  #spacer {padding: 3.9em;}
  
  .content{
      font-size: 125px;
      align-content: center;
      
  }

 }