/*GENERAL*/

  @font-face{
    font-display: auto;
  }

  html {
    background-color: black;
    margin: 0;
    padding: 0;
  }

  body {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
  }


  #descmobile { display: none; }

/*LINKS*/

  a:link {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover, a:active {color: #ffffff;}

/*  a:visited {color: #ffffff;}*/

/*TITLE AND SUBHEADER*/

  #topbar{text-align: center;}

  #title{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 80px;
    line-height: 0;
    padding-top: .6em;
    padding-bottom: .25em;
    font-family: 'Modak', cursive;
 
    color: #000000;
    letter-spacing: .1em;
    text-shadow: -7px 5px #29945f;
    display: block;
  }

  #subdesc{
    color: white;
    font-size: .95em;
    line-height: 0;
    padding-top: .5em;

    font-family: 'Oswald', sans-serif;

  }
  
  #spacer {padding: 2em;}

  .titledesc {
    color: white;
    text-align: center;
    font-size: 45px;
    line-height: 0;
    padding-bottom: .9em;
    font-family: 'Oswald', sans-serif;
   }


 @media screen and (max-width: 1024px) {

    .titledesc {
    font-size: 30px;
    padding-top: .6em;
    padding-bottom: 1.2em;
    font-family: 'Oswald', sans-serif;
   }

   #spacer {padding: .3em;}

   #descmobile {
      color: white;
      line-height: 0;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 15px;
      padding-top: 6em;
      padding-bottom: 0;
      display: block;
    }

 }

